<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>我的二维码</title>
  <meta name="description" content="我的二维码">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">
  <script type="text/javascript">
    (function() {
      var rem, dpr, time, doc = window.document,
              docEl = doc.documentElement,
              viewport = doc.querySelector('meta[name="viewport"]'),
              zoomScale,
              zoomScaleNum;
      if (viewport) {
        zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
        if(zoomScale){
          zoomScaleNum = parseFloat(zoomScale[2]);
          dpr = parseInt(1 / zoomScaleNum);
        }
      }
      if (!dpr && !zoomScaleNum) {
        var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
                dpr = window.devicePixelRatio;
        dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
        zoomScaleNum = 1 / dpr;
      }
      window.addEventListener("resize",
              function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
              },false);
      //改变基准rem
      function changeRem(){
        var docWidth = docEl.getBoundingClientRect().width;
        if(docWidth / dpr > 540){
          docWidth = 540 * dpr;
        }
        //rem字号以320下的16px为基线进行等比缩放
        rem = docWidth/320 * 16;
        docEl.style.fontSize = rem + "px";
      }
      changeRem();
    })();
  </script>
</head>
<body style="background:#fff;">
<div class="am-main gzerweima">
  <img src="/assets/i/gz_weixin.jpg" alt="" class="img100">
  <div class="erweima"><img src="{{$img_url}}" alt="" >请扫码绑定</div>
  <p class="am-ftr">中国•昆山 萧林中路2191号昆山楼市•房猫服务中心<br />苏州曼纳吉信息科技有限公司</p>
</div>
</body>
</html>
<script src="/assets/js/jquery-2.2.3.min.js"></script>
<script src="/assets/js/amazeui.js"></script>
<script src="/assets/js/animateBackground-plugin.js"></script>
<script src="/assets/js/layer/layer.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
  $(function(){

    wx.config({
      debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '{{$wxappId}}', // 必填，公众号的唯一标识
      timestamp: {{$wxtimestamp}}, // 必填，生成签名的时间戳
    nonceStr: '{{$wxnonceStr}}', // 必填，生成签名的随机串
            signature: '{{$wxsignature}}',// 必填，签名，见附录1
      jsApiList: [ 'onMenuShareTimeline','checkJsApi', 'onMenuShareAppMessage', 'updateAppMessageShareData', 'updateTimelineShareData'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.checkJsApi({
      jsApiList: [
        'onMenuShareTimeline', 'onMenuShareAppMessage', 'updateAppMessageShareData', 'updateTimelineShareData'
      ],
      success: function (res) {

      }
    });

    wx.ready(function () {
      wx.updateTimelineShareData({
        title: '【房猫微站】您身边的专业金融服务！', // 分享标题
        link: '{{$img_url_DBY}}/wx_index/register/?invite_code_temp={{$m_info.invite_code}}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: '{{$img_url_DBY}}/assets/images/funmall_logo.jpg', // 分享图标
        success: function () {

        }
      })
      wx.updateAppMessageShareData({
        title: '【房猫微站】您身边的专业金融服务！', // 分享标题
        desc: '【房猫微站】您身边的专业金融服务！！', // 分享描述
        link: '{{$img_url_DBY}}/wx_index/register/?invite_code_temp={{$m_info.invite_code}}', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
        imgUrl: '{{$img_url_DBY}}/assets/images/funmall_logo.jpg', // 分享图标
        success: function () {

        }
      });
    })
  })
</script>