<nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
    <a href="javascript:void(0)" class="am-icon-btn am-menu-toggle am-icon-bars"></a>
    <div class="am-offcanvas">
        <div class="am-offcanvas-bar">
            <div class="amz-sidebar">
                <ul class="am-menu-nav am-avg-sm-1">
                    <li class="am-nav-header">操作中心</li>
                    <li class="">
                        <a href="/wx_salesman/index" class="">首页</a>
                    </li>
                    {{if $role_id == 7}}
                    <li class="">
                        <a href="/wx_salesman/add_customer" class="">新增公司</a><!-- 渠道 -->
                    </li>
                    <li class="">
                        <a href="/wx_salesman/customer_list" class="">签约公司</a><!-- 渠道 -->
                    </li>
                    {{/if}}
                    <li class="am-nav-header">安全中心</li>
                    <li class="">
                        <a href="/wx_salesman/change_pwd" class="">修改密码</a>
                    </li>
                    <li class="">
                        <a href="/wx_salesman/logout" class="">切换账号</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>