<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>税费清单</title>
    <meta name="description" content="我要评估">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/assets/css/amazeui.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script type="text/javascript">
        (function() {
            var rem, dpr, time, doc = window.document,
                    docEl = doc.documentElement,
                    viewport = doc.querySelector('meta[name="viewport"]'),
                    zoomScale,
                    zoomScaleNum;
            if (viewport) {
                zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
                if(zoomScale){
                    zoomScaleNum = parseFloat(zoomScale[2]);
                    dpr = parseInt(1 / zoomScaleNum);
                }
            }
            if (!dpr && !zoomScaleNum) {
                var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
                        dpr = window.devicePixelRatio;
                dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
                zoomScaleNum = 1 / dpr;
            }
            window.addEventListener("resize",
                    function() {
                        clearTimeout(time);
                        time = setTimeout(changeRem, 300);
                    },false);
            //改变基准rem
            function changeRem(){
                var docWidth = docEl.getBoundingClientRect().width;
                if(docWidth / dpr > 540){
                    docWidth = 540 * dpr;
                }
                //rem字号以320下的16px为基线进行等比缩放
                rem = docWidth/320 * 16;
                docEl.style.fontSize = rem + "px";
            }
            changeRem();
        })();
    </script>

</head>
<body>
<div class="am-main">
    <div class="am-calculator am-accurate-estimate calculator-res">
        <div class="am-form am-form-horizontal">
            <div class="totalPrice"> <span>{{$data.sfhj|default:'-'}}</span><br />税金总额（元）</div>
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">实际首付</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.sjshoufu|default:'-'}} 元</p>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">发票首付</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.shoufu|default:'-'}} 元</p>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">贷款金额</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.dkje|default:'-'}} 元</p>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">契税</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.qishui|default:'-'}} 元</p>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">营业税</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.yyshui|default:'-'}} 元</p>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-4 am-form-label">个人所得税</label>
                <div class="am-u-sm-8">
                    <p class="am-spec-input">{{$data.grsdshui|default:'-'}} 元</p>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">税金总额</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.sfhj|default:'-'}} 元</p>
                </div>
            </div>
        </div>
    </div>
    <div class="am-calculator am-accurate-estimate calculator-res">
        <div class="am-form am-form-horizontal">
            <div class="am-form-group">
                <label class="am-u-sm-4 am-form-label">每月还款</label>
                <div class="am-u-sm-8">
                    <p class="am-spec-input">{{$data.myhke|default:'-'}}  元</p>
                </div>
            </div>
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">总还款</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.sumall|default:'-'}} 元</p>
                </div>
            </div>
            <p class="p-tips">* 免责申明： 以上数据仅供参考，实际数据以银行机构及税务机构签审结果为准，对以上数据用作业务指导造成的后果，房猫不承担责任。</p>
            <div class="am-accu-btns">
                <div class="am-u-sm-12 am-u-sm-centered">
                    <a class="am-btn am-btn-danger am-begin-cal startCal" href="javascript:">重新计算</a>
                </div>
            </div>
        </div>
    </div>
    <p class="am-ftr">中国•昆山 萧林中路2191号昆山楼市•房猫服务中心<br />苏州曼纳吉信息科技有限公司</p>
    <div class="am-menu am-g-fixed am-g-menu">
        <div class="am-u-sm-6"><a href="/wx_index/main" class="am-btn-home"><img src="/assets/i/home.jpg" alt=""></a></div>
        <div class="am-u-sm-6"><a href="/wx_index/person_info" class="am-btn-home"><img src="/assets/i/user.jpg" alt=""></a></div>
    </div>
</div>
</body>
</html>
