<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="format-detection" content="telephone=no">
  <title>税费计算器</title>
  <meta name="description" content="房猫应用">
  <meta name="keywords" content="昆山楼市，房猫，金融">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="applicable-device" content="mobile">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">

</head>
<body>
<div class="am-g">
  <div class="calculator">
    <dl class="dl-cal arrow">
      <dt>计算模式</dt>
      <dd class="box-col choose jsms" select-value="">请选择</dd>
    </dl>
    <dl class="dl-cal">
      <dt>评估价</dt>
      <dd><input type="text" value="{{$min_price}}/{{$max_price}}" class="ipt-txt ipt-price" pattern="[0-9]*">
      <span class="s-txt">元</span>
      </dd>
    </dl>
    <dl class="dl-cal">
      <dt>房屋面积</dt>
      <dd><input type="number" value="" class="ipt-txt ipt-area" pattern="[0-9]*">
      <span class="s-txt">平米</span> 
      </dd>
    </dl>
    <dl class="dl-cal">
      <dt>阁楼面积</dt>
      <dd><input type="number" value="" class="ipt-txt ipt-gl-area" pattern="[0-9]*">
      <span class="s-txt">平米</span>
      </dd>
    </dl>
    <dl class="dl-cal arrow">
      <dt>房屋购置年限</dt>
      <dd class="box-col choose limityear" select-value="">请选择</dd>
    </dl>
    <dl class="dl-cal arrow">
      <dt>买房家庭首次购房</dt>
      <dd class="box-col choose buyer" select-value="">请选择</dd>
    </dl>
    <dl class="dl-cal arrow">
      <dt>有无贷款</dt>
      <dd class="box-col choose loan" select-value="">请选择</dd>
    </dl>
    <dl class="dl-cal arrow arrow1">
      <dt>卖房是否唯一住房</dt>
      <dd class="box-col choose seller" select-value="">请选择</dd>
    </dl>
      <dl class="dl-cal">
          <dt>每月应还款额</dt>
          <dd><input type="number" value="" class="ipt-txt" id="myhke" pattern="[0-9]*">
              <span class="s-txt">元</span>
          </dd>
      </dl>
      <dl class="dl-cal">
          <dt>总还款额</dt>
          <dd><input type="number" value="" class="ipt-txt" id="sumall" pattern="[0-9]*">
              <span class="s-txt">元</span>
          </dd>
      </dl>
    <a href="javascript:" class="startCal">开始计算</a>

<form action="/wx_index/calculator_res" method="get" id="get_form">
  <!-- 首付 -->
  <input type="hidden" value="" class="ipt-txt" id="shoufu" name="shoufu" pattern="[0-9]*">
  <!-- 契税 -->
  <input type="hidden" value="" class="ipt-txt" id="qishui" name="qishui" pattern="[0-9]*">
  <!-- 营业税 -->
  <input type="hidden" value="" class="ipt-txt" id="yyshui" name="yyshui" pattern="[0-9]*">
  <!-- 个人所得税 -->
    <input type="hidden" value="" class="ipt-txt" id="grsdshui" name="grsdshui" pattern="[0-9]*">
    <!-- 税金总额 -->
    <input type="hidden" value="" class="ipt-txt" id="sfhj" name="sfhj" pattern="[0-9]*">
    <!-- 个人所得税 -->
    <input type="hidden" value="" class="ipt-txt" id="myhke" name="myhke" pattern="[0-9]*">
    <!-- 税金总额 -->
    <input type="hidden" value="" class="ipt-txt" id="sumall" name="sumall" pattern="[0-9]*">
</form>
<!-- 计算结果 -->


   <!--<dl class="dl-cal">-->
      <!--<dt>首付</dt>-->
      <!--<dd><input type="number" value="" class="ipt-txt" id="shoufu" pattern="[0-9]*">-->
      <!--<span class="s-txt">元</span>-->
      <!--</dd>-->
    <!--</dl>-->
    <!--<dl class="dl-cal">-->
      <!--<dt>契税</dt>-->
      <!--<dd><input type="number" value="" class="ipt-txt" id="qishui" pattern="[0-9]*">-->
      <!--<span class="s-txt">元</span>-->
      <!--</dd>-->
    <!--</dl>-->
   <!--<dl class="dl-cal">-->
      <!--<dt>营业税</dt>-->
      <!--<dd><input type="number" value="" class="ipt-txt" id="yyshui" pattern="[0-9]*">-->
      <!--<span class="s-txt">元</span>-->
      <!--</dd>-->
    <!--</dl>-->
   <!--<dl class="dl-cal">-->
      <!--<dt>个人所得税</dt>-->
      <!--<dd><input type="number" value="" class="ipt-txt" id="grsdshui" pattern="[0-9]*">-->
      <!--<span class="s-txt">元</span>-->
      <!--</dd>-->
    <!--</dl>-->
     <!--<dl class="dl-cal">-->
      <!--<dt>税金总额</dt>-->
      <!--<dd><input type="number" value="" class="ipt-txt" id="sfhj" pattern="[0-9]*">-->
      <!--<span class="s-txt">元</span>-->
      <!--</dd>-->
    <!--</dl>-->
  </div>
  <!-- 底部浮层 -->
  <!-- 计算模式 -->
  <div class="bottom_layer jsms_layer" data-mark="bottom_layer" style="display:none;">
    <div class="title">
      <span class="cancle" data-act="bottom_cancle">取消</span>
      <p data-mark="bottom_layer_title jsms_layer_title">计算模式</p>
    </div>
    <div class="option_wrap jsms_wrap" data-mark="option_wrap">
      <ul>
        <li>低首付模式</li>
        <li>省税模式</li>
      </ul> 
    </div>
  </div>
  <!-- 房屋购置年限 -->
    <div class="bottom_layer limityear_layer" data-mark="bottom_layer" style="display:none;">
    <div class="title">
      <span class="cancle" data-act="bottom_cancle">取消</span>
      <p data-mark="bottom_layer_title limityear_layer_title">房屋购置年限</p>
    </div>
    <div class="option_wrap limityear_wrap" data-mark="option_wrap">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul> 
    </div>
  </div>
  <!-- 买房家庭首次购房 -->
    <div class="bottom_layer buy_layer" data-mark="bottom_layer" style="display:none;">
    <div class="title">
      <span class="cancle" data-act="bottom_cancle">取消</span>
      <p data-mark="bottom_layer_title buy_layer_title">买房家庭首次购房</p>
    </div>
    <div class="option_wrap buy_wrap" data-mark="option_wrap">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul> 
    </div>
  </div>

    <!-- 有无贷款 -->
    <div class="bottom_layer loan_layer" data-mark="bottom_layer" style="display:none;">
    <div class="title">
      <span class="cancle" data-act="bottom_cancle">取消</span>
      <p data-mark="bottom_layer_title loan_layer_title">有无贷款</p>
    </div>
    <div class="option_wrap loan_wrap" data-mark="option_wrap">
      <ul>
        <li></li>
        <li></li>
      </ul> 
    </div>
  </div>

      <!-- 卖房是否唯一住房 -->
    <div class="bottom_layer sell_layer" data-mark="bottom_layer" style="display:none;">
    <div class="title">
      <span class="cancle" data-act="bottom_cancle">取消</span>
      <p data-mark="bottom_layer_title sell_layer_title">卖房是否唯一住房</p>
    </div>
    <div class="option_wrap sell_wrap" data-mark="option_wrap">
      <ul>
        <li></li>
        <li></li> 
      </ul> 
    </div>
  </div>
  <div class="layer_fixed" data-mark="layer_fixed"  style="display:none;"></div>
  <div class="footer">苏州曼纳吉信息科技有限公司</div>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="your-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd am-modal-bd-warn">
      请选择计算模式
    </div>
  </div>
</div>

    <!-- 按揭年数 -->
    <div class="bottom_layer mortgage_layer" data-mark="bottom_layer" style="display:none;">
        <div class="title">
            <span class="cancle" data-act="bottom_cancle">取消</span>
            <p data-mark="bottom_layer_title mortgage_layer_title">按揭年数</p>
        </div>
        <div class="option_wrap mortgage_wrap" data-mark="option_wrap">
            <ul>
                <li select-value="1">1年（12期）</li>
                <li select-value="2">2年（24期）</li>
                <li select-value="3">3年（36期）</li>
                <li select-value="4">4年（48期）</li>
                <li select-value="5">5年（60期）</li>
                <li select-value="6">6年（72期）</li>
                <li select-value="7">7年（84期）</li>
                <li select-value="8">8年（96期）</li>
                <li select-value="9">9年（108期）</li>
                <li select-value="10">10年（120期）</li>
                <li select-value="11">11年（132期）</li>
                <li select-value="12">12年（144期）</li>
                <li select-value="13">13年（156期）</li>
                <li select-value="14">14年（168期）</li>
                <li select-value="15">15年（180期）</li>
                <li select-value="16">16年（192期）</li>
                <li select-value="17">17年（204期）</li>
                <li select-value="18">18年（216期）</li>
                <li select-value="19">19年（228期）</li>
                <li select-value="20">20年（240期）</li>
                <li select-value="21">21年（252期）</li>
                <li select-value="22">21年（264期）</li>
                <li select-value="23">21年（276期）</li>
                <li select-value="24">21年（288期）</li>
                <li select-value="25">21年（300期）</li>
                <li select-value="26">21年（312期）</li>
                <li select-value="27">21年（324期）</li>
                <li select-value="28">21年（336期）</li>
                <li select-value="29">21年（348期）</li>
                <li select-value="30">21年（360期）</li>
            </ul>
        </div>
    </div>

</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
 var c1 =[["计算模式"],["省税模式","ss"],["低首付模式","dsf"]];
 var year_limit=[["房屋购置年限"],["满5年","5"],["2-5年","2"],["不满2年","1"]];
 var buynum =[["买房家庭首次购房"],["首套","0"],["二套","1"],["二套以上","2"]];
 var ywdk =[["有无贷款"],["有","1"],["无","0"]];
 var salenum =[["卖房是否唯一住房"],["是","1"],["否","0"]];
  $(".cancle").click(function(event) {
    /* Act on the event */
    $(".layer_fixed").hide();
    $(".bottom_layer").slideUp();
  });
  $(".jsms").click(function(){
      $(".jsms_wrap_layer_title").html(c1[0][0]);
      $(".jsms_wrap li").each(function(index, el) {
        $(el).attr("select-value",c1[index+1][1]);
        $(el).html(c1[index+1][0]);
          $(".layer_fixed").show();
          $(".jsms_layer").slideDown();
      });
  });

   $(".limityear").click(function(event) {
       $(".limityear_layer_title").html(year_limit[0][0]);
        $(".limityear_wrap li").each(function(index, el) {
         $(el).html(year_limit[index+1][0]);
           $(el).attr("select-value",year_limit[index+1][1]);
          $(".layer_fixed").show();
          $(".limityear_layer").slideDown();
      });
    });

   $(".buyer").click(function(event) {
       $(".buy_layer_title").html(year_limit[0][0]);
        $(".buy_wrap li").each(function(index, el) {
         $(el).html(buynum[index+1][0]);
           $(el).attr("select-value",buynum[index+1][1]);
          $(".layer_fixed").show();
          $(".buy_layer").slideDown();
      });
    });

   $(".loan").click(function(event) {
       $(".loan_layer_title").html(year_limit[0][0]);
        $(".loan_wrap li").each(function(index, el) {
         $(el).html(ywdk[index+1][0]);
           $(el).attr("select-value",ywdk[index+1][1]);
          $(".layer_fixed").show();
          $(".loan_layer").slideDown();
      });
    });

     $(".seller").click(function(event) {
       $(".sell_layer_title").html(year_limit[0][0]);
        $(".sell_wrap li").each(function(index, el) {
         $(el).html(salenum[index+1][0]);
           $(el).attr("select-value",salenum[index+1][1]);
          $(".layer_fixed").show();
          $(".sell_layer").slideDown();
      });
    });
    $(".jsms_wrap li").click(function(event) {
      $(".layer_fixed").hide();
      $(".bottom_layer").slideUp();
       $(".jsms").html($(this).html());
       $(".jsms").attr('select-value', $(this).attr('select-value'));
       $(".jsms").css("color","#333");
    });

   $(".limityear_wrap li").click(function(event) {
      $(".layer_fixed").hide();
      $(".bottom_layer").slideUp();
       $(".limityear").html($(this).html());
       $(".limityear").attr('select-value', $(this).attr('select-value'));
       $(".limityear").css("color","#333");
    });

   
   $(".buy_layer li").click(function(event) {
      $(".layer_fixed").hide();
      $(".bottom_layer").slideUp();
       $(".buyer").html($(this).html());
       $(".buyer").attr('select-value', $(this).attr('select-value'));
       $(".buyer").css("color","#333");
    });

   $(".loan_layer li").click(function(event) {
      $(".layer_fixed").hide();
      $(".bottom_layer").slideUp();
       $(".loan").html($(this).html());
       $(".loan").attr('select-value', $(this).attr('select-value'));
       $(".loan").css("color","#333");
    });

$(".sell_layer li").click(function(event) {
      $(".layer_fixed").hide();
      $(".sell_layer").slideUp();
       $(".seller").html($(this).html());
       $(".seller").attr('select-value', $(this).attr('select-value'));
       $(".seller").css("color","#333");
    });
$(".startCal").click(function(event) {
  /* Act on the event */
  var jsms = $(".jsms").attr("select-value"),pgprice =$(".ipt-price").val(),area = $(".ipt-area").val(),glarea =$(".ipt-gl-area").val(),limityear = $(".limityear").attr("select-value"),buyer = $(".buyer").attr("select-value"),
  loan = $(".loan").attr("select-value"),seller =$(".seller").attr("select-value");
  if(jsms==""){
    $(".am-modal-bd-warn").html("请选择计算模式！");
     $('#your-modal').modal();
     return false;
  };

    if(pgprice==""){
      $(".am-modal-bd-warn").html("请输入评估价");
      $('#your-modal').modal();
       return;
    };
    if(area==""){
      $(".am-modal-bd-warn").html("请输入面积");
      $('#your-modal').modal();
       return;
    };
     if(glarea==""){
      $(".am-modal-bd-warn").html("请输入阁楼面积,没有请输0");
      $('#your-modal').modal();
       return;
    };

    if(limityear==""){
     $(".am-modal-bd-warn").html("请选择房屋购置年限");
     $('#your-modal').modal();
     return false;
    };
    if(buyer==""){
     $(".am-modal-bd-warn").html("请选择买房家庭首次购房");
     $('#your-modal').modal();
     return false;
    };
        if(loan==""){
     $(".am-modal-bd-warn").html("请选择有无贷款");
     $('#your-modal').modal();
     return false;
    };
     if(seller==""){
     $(".am-modal-bd-warn").html("请选择卖房是否唯一住房");
     $('#your-modal').modal();
     return false;
    };
    if(mortgage==""){
        $(".am-modal-bd-warn").html("请选择按揭年数");
        $('#your-modal').modal();
        return false;
    };
    //计算
     ex_total();
  

});

    function ex_total(){

      //
      // //房屋面积
      // var houseArea  ="",glArea ="";
      //

       var jsms =$(".jsms").attr("select-value");//计算模式
       var pgprice =$(".ipt-price").val();//评估价
       var area =parseFloat($(".ipt-area").val());//房屋面积
       var glarea =parseFloat($(".ipt-gl-area").val());//阁楼面积
       var limityear =parseFloat($(".limityear").attr("select-value"));//购置年限
       var buyer = $(".buyer").attr("select-value");//买家家庭首次购买
        var loan = $(".loan").attr("select-value");//有无贷款
        var seller =$(".seller").attr("select-value");//卖房是否唯一住房

        var lowPrice = pgprice.split("/")[0],highPrice =pgprice.split("/")[1];
        var mortgage = $(".mortgage").attr("select-value"),rate = $(".rate").attr("select-value");
       // alert(loan);
         //房屋总价
       var housePrice = "";
        var unitPrice ="";//选择计算模式后，设定的价格
      //计算结果
      var dklv ="";//贷款利率
        var qishui = "";//契税
        var yyshui ="";//营业税
        var grsdshui = "";//个人所得税
        var shoufu = "";//首付
         if(jsms == "ss"){
            housePrice = lowPrice*(area +glarea);
            unitPrice = lowPrice;
         }
         else if(jsms == "dsf"){
            housePrice = highPrice*(area +glarea);
            unitPrice = highPrice;
         }
         
        // alert(housePrice);
        //买家
        if(buyer == "0"){//买家首次购房
          if(area<=90){//90平以内（含）
            $("#qishui").val((housePrice*1/100).toFixed(2));//精确到小数点后两位
          }else if(area >90){$("#qishui").val((housePrice*1.5/100).toFixed(2));}
            if(loan == "1"){dklv = 0.5;}
            else if(loan == "0"){dklv = 0.7;}
        }else if(buyer == "1"){//买家二套购房
            if(area<=90){
              $("#qishui").val((housePrice*1/100).toFixed(2));//精确到小数点后两位
            }else if(area >90){$("#qishui").val((housePrice*1/100).toFixed(2));}//精确到小数点后两位
            if(loan == "1"){dklv = 0.2;}
            else if(loan == "0"){dklv = 0.5;}
        }else if(buyer == "2"){
            $("#qishui").val((housePrice*3/100).toFixed(2));
            dklv = 0.2;
        }
    //卖家
        if (seller=="1"){//卖家唯一住房
          if(limityear ="1"){
            $("#grsdshui").val((housePrice*1/100).toFixed(2));
            $("#yyshui").val((housePrice*5.6/100).toFixed(2));
          }else if(limityear ="2"){
            $("#grsdshui").val((housePrice*1/100).toFixed(2));
            $("#yyshui").val(0);
          }
          else if(limityear ="5"){
             $("#grsdshui").val(0);
             $("#yyshui").val(0);
          }
        }else if(seller=="0"){
            if(limityear =="1"){
            $("#grsdshui").val((housePrice*1/100).toFixed(2));
            $("#yyshui").val((housePrice*5.6/100).toFixed(2));
          }else if(limityear =="2"){
            $("#grsdshui").val((housePrice*1/100).toFixed(2));
            $("#yyshui").val(0);
          }
          else if(limityear =="5"){
              $("#grsdshui").val((housePrice*1/100).toFixed(2));
             $("#yyshui").val(0);
          }

        }
     
        shoufu = (housePrice - [(unitPrice * area + unitPrice * glarea * 0.5 ) * dklv]).toFixed(2);
       $("#shoufu").val(shoufu);
      var totalPrice =(parseFloat($("#qishui").val())+parseFloat($("#yyshui").val())+parseFloat($("#grsdshui").val())).toFixed(2);
        $("#sfhj").val(totalPrice);
        //等额本息  本金*月利率*（1+月利率）^还款月数/[(1+月利率)^还款月数-1]
        var everyMoth = (housePrice-shoufu)*dklv/12*Math.pow((1+dklv/12),mortgage*12)/[Math.pow((1+dklv/12),mortgage*12)-1];
        var sumall = (everyMoth*mortgage*12).toFixed(2);
        $("#myhke").val(everyMoth.toFixed(2));
        $("#sumall").val(sumall);
$("#get_form").submit();
    }

 $(".mortgage").click(function(){
     $(".mortgage_wrap li").each(function(index, el) {
         $(".layer_fixed").show();
         $(".mortgage_layer").slideDown();
     });
 });

 $(".mortgage_wrap li").click(function(event) {
     $(".layer_fixed").hide();
     $(".bottom_layer").slideUp();
     $(".mortgage").html($(this).html());
     $(".mortgage").attr('select-value', $(this).attr('select-value'));
     $(".mortgage").css("color","#333");
 });
</script>
</body>
</html>
