<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" /> 
  <meta name="format-detection" content="telephone=no">
  <title>计算结果</title>
  <meta name="description" content="房猫应用">
  <meta name="keywords" content="昆山楼市，房猫，金融">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="applicable-device" content="mobile">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="Cache-Control" content="no-transform" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">

</head>
<body>
<div class="am-g">
  <div class="calculator calculator-res">
    <div class="totalPrice"> <span>68400.00</span><br />税金总额（元）</div>
   <dl class="dl-cal">
      <dt>首付</dt>
      <dd><input type="number" value="11" class="ipt-txt ipt-txtleft" id="shoufu" pattern="[0-9]*" readonly>
      <span class="s-txt">元</span>
      </dd>
    </dl>
    <dl class="dl-cal">
      <dt>契税</dt>
      <dd><input type="number" value="" class="ipt-txt ipt-txtleft" id="qishui" pattern="[0-9]*" readonly>
      <span class="s-txt">元</span>
      </dd>
    </dl>
   <dl class="dl-cal">
      <dt>营业税</dt>
      <dd><input type="number" value="" class="ipt-txt ipt-txtleft" id="yyshui" pattern="[0-9]*" readonly>
      <span class="s-txt">元</span>
      </dd>
    </dl>
   <dl class="dl-cal">
      <dt>个人所得税</dt>
      <dd><input type="number" value="" class="ipt-txt ipt-txtleft" id="grsdshui" pattern="[0-9]*" readonly>
      <span class="s-txt">元</span>
      </dd>
    </dl>
     <dl class="dl-cal">
      <dt>税金总额</dt>
      <dd><input type="number" value="" class="ipt-txt ipt-txtleft" id="sfhj" pattern="[0-9]*" readonly>
      <span class="s-txt">元</span>
      </dd>
    </dl>
    <p class="tips">*以上结果仅供参考</p>
    <a href="http://sys.ksls.com.cn/wx_index/calculator" class="startCal restartCal">重新计算</a>
  </div>
</div>

</body>
</html>
