<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>二手房评估</title>
  <meta name="description" content="房猫应用">
  <meta name="keywords" content="昆山楼市，房猫，金融，评估">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    <form id="search_form" action="/wx_index/pg_list" method="get" class="searchForm">
    <!--   <div class="search-box"> -->
        <div class="text-area">
            <input type="text" name="keyword" class="text" value="{{$data.keyword}}" />
        </div>
        <span id="search_btn" class="search-icon"></span>
    <!--   </div> -->
 <!--      <span>取消</span> -->
    </form>
 <div class="data-list">
   <ul class="data-th">
     <li>小区名</li>
     <li class="listyle">类型</li>
     <li class="liPrice">评估价（元）</li>
     <li>操作</li>
   </ul>
     {{foreach from=$data.res_list item=item}}
     <ul class="data-tb">
         <li class="house">{{$item.xiaoqu}}</li>
         <li class="listyle">{{$item.wy_name}}</li>
         <li class="liPrice">
             <div class="dataPrice highPrice"><span class="lp-s hp-s"><em class="lp-em hp-em"></em>高评</span>{{$item.max_price}}</div>
             <div class="dataPrice lowPrice"><span class="lp-s"><em class="lp-em"></em>低评</span>{{$item.min_price}}</div>
         </li>
         <li><a href="" class="taxMore">税费详情</a></li>
     </ul>
     {{/foreach}}


     {{include file='public/pagination.html'}}

 </div>

    <!--<div class="footer">苏州曼纳吉信息科技有限公司</div>-->
</div>
</body>
</html>
<script src="/assets/js/jquery.min.js"></script>
<script>
    $("#search_btn").click(function () {
        $("#search_form").submit();
    })
</script>