<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>二手房评估</title>
    <meta name="description" content="房猫应用">
    <meta name="keywords" content="昆山楼市，房猫，金融，评估">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    <!--<form id="search_form" action="/wx_index/pg_list" method="get" class="searchForm">-->
    <!--&lt;!&ndash;   <div class="search-box"> &ndash;&gt;-->
    <!--<div class="text-area">-->
    <!--<input type="text" name="keyword" class="text" value="{{$data.keyword}}"  placeholder="输入要查询的小区"  onclick="if(this.value==this.defaultValue){this.value='';}" onblur="if(this.value==''){this.value=this.defaultValue;}" />-->
    <!--</div>-->
    <!--<span id="search_btn" class="search-icon"></span>-->
    <!--&lt;!&ndash;   </div> &ndash;&gt;-->
    <!--&lt;!&ndash;      <span>取消</span> &ndash;&gt;-->
    <!--</form>-->
    <div class="calculator">
        <dl class="dl-cal arrow">
            <dt>小区</dt>
            <dd id="choose_" class="box-col choose house">
                -请选择-
            </dd>
        </dl>
        <dl class="dl-cal">
            <dt>面积</dt>
            <dd class="box-col">
                <input type="number" value="" class="ipt-txt houseArea"  pattern="[0-9]*"><span class="s-txt">平米</span>
            </dd>
        </dl>
        <dl class="dl-cal arrow">
            <dt>总楼层</dt>
            <dd class="box-col choose floor" data-minprice="" data-maxprice="" select-value="">请选择</dd>
        </dl>
        <dl class="dl-cal">
            <dt>所在楼层</dt>
            <dd class="box-col choose"><input type="number" value="" class="ipt-txt floorCurrent" pattern="[0-9]*"><span class="s-txt">层</span></dd>
        </dl>
        <input type="hidden" value="" class="estimatePrice">
    </div>
    <a href="javascript:" class="startCal">立即估价</a>
    <div class="data-list">
        <ul class="data-th">
            <li class="house">小区名</li>
            <li class="listyle">面积</li>
            <li class="listyle">楼层</li>
            <li class="liPrice">评估价（元）</li>
        </ul>
        <ul class="data-tb" id="show_jg">

        </ul>
        <a href="" class="taxMore">税费详情</a>
    </div>
    <!-- 总楼层 -->
    <div class="bottom_layer floor_layer" data-mark="bottom_layer" style="display:none;">
        <div class="title">
            <span class="cancle" data-act="bottom_cancle">取消</span>
            <p data-mark="bottom_layer_title loan_layer_title">总楼层</p>
        </div>
        <div class="option_wrap floor_wrap" data-mark="option_wrap">
            <ul id="ul_wrap_">

            </ul>
        </div>
    </div>
    <!-- 搜索弹框 -->
    <div class="am-popup" id="my-popup">
        <div class="am-popup-inner">
            <!--     <div class="am-popup-hd">
                  <span data-am-modal-close
                        class="am-close">&times;</span>
                </div> -->
            <div class="am-popup-bd">
                <form action="" class="searchForm yy-kw-form">
                    <div class="text-area" >
                        <input type="search" id="search_" class="text" value="" placeholder="搜索小区名"  onclick="if(this.value==this.defaultValue){this.value='';}" onblur="if(this.value==''){this.value=this.defaultValue;}"/>
                        <a href="javascript:" id="search_btn" class="search-btn"></a>
                    </div>
                    <span data-am-modal-close class="am-close">取消</span>
                </form>
                <ul class="data-list" id="data-list">

                </ul>
            </div>
        </div>
    </div>
    <div class="layer_fixed" data-mark="layer_fixed"  style="display:none;"></div>
    <!-- 验证提示弹框 -->
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="your-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd am-modal-bd-warn">
                请选择计算模式
            </div>
        </div>
    </div>
    <!--<div class="footer">苏州曼纳吉信息科技有限公司</div>-->
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/layer/layer.js"></script>
<script type="text/javascript">
    // var scroll = document.querySelector('.scroll');
    // var outerScroller = document.querySelector('.outerScroller');
    // var touchStart = 0;
    // var touchDis = 0;
    $(".cancle").click(function(event) {
        /* Act on the event */
        $(".layer_fixed").hide();
        $(".bottom_layer").slideUp();
    });
    $(".house").click(function(){
        $('#my-popup').modal();
    });

    $(".floor").click(function(event) {
        $(".layer_fixed").show();
        $(".floor_layer").slideDown();
    });


   // var esPrice = $(".estimatePrice").val();
    //var hArea = parseFloat($(".houseArea").val());
    //var floorRatio =Math.floor(parseFloat($(".floorCurrent").val())/parseFloat($(".floor").attr("select-value")));//楼层系数
    $(".startCal").click(function(event) {
        /* Act on the event */
        if($(".house").html()==""){
            $(".am-modal-bd-warn").html("请选择小区");
            $('#your-modal').modal();
            return;
        }
        if($(".houseArea").val()==""){
            $(".am-modal-bd-warn").html("请填写面积");
            $('#your-modal').modal();
            return;
        }
        if($(".floor").attr("select-value")==""){
            $(".am-modal-bd-warn").html("请选择总楼层");
            $('#your-modal').modal();
            return;
        }
        if($(".floorCurrent").val()==""){
            $(".am-modal-bd-warn").html("请填写楼层");
            $('#your-modal').modal();
            return;
        }
        var html_ = '';
        html_ += ' <li class="house">' + $(".house").html() + '</li>' +
                '<li class="listyle">' + $(".houseArea").val() + '㎡</li> ' +
                '<li class="listyle">' + $(".floor").attr("select-value") + '层</li> ' +
                '<li class="liPrice"> ' +
                '<div class="dataPrice highPrice"><span class="lp-s hp-s"><em class="lp-em hp-em"></em>高评</span><em id="hPrice">' + '</em></div> ' +
                '<div class="dataPrice lowPrice"><span class="lp-s"><em class="lp-em"></em>低评</span><em id="lPrice">' +'</em></div></li>';
        $("#show_jg").html(html_);
        $(".estimatePrice").val($(".floor").attr("data-minprice"))
        //计算
        ex_total();
    });
    function ex_total(){
        var esPrice = $(".estimatePrice").val();
        alert(esPrice);
        var hArea = parseFloat($(".houseArea").val());
        var floorRatio =Math.floor(parseFloat($(".floorCurrent").val())/parseFloat($(".floor").attr("select-value")));//楼层系数
        if(hArea<=50)
        {esPrice =esPrice*0.98;}
        else if(hArea>50&&hArea<80){esPrice =esPrice*0.99;}
        else if(hArea>=80&&hArea<140){esPrice =esPrice*1.01;}
        else if(hArea>=140){esPrice =esPrice;}
        if(floorRatio<0.2){esPrice =esPrice*0.96;}
        else if(floorRatio>=0.6 && floorRatio==1){
            esPrice =esPrice*1.03;
        }
        else if(parseFloat($(".floorCurrent").val())==1){
            esPrice =esPrice*0.92;
        }
        else if(parseFloat($(".floorCurrent").val())==parseFloat($(".floor").attr("select-value"))){
            esPrice =esPrice*0.94;
        }
        $("#hPrice").html( Math.ceil(esPrice*1.15));$("#lPrice").html( Math.ceil(esPrice*1.05));
    }


    $("#search_btn").click(function(){
        var search_ = $.trim($("#search_").val());
        if(search_ == ""){
            $("#data-list").html('');
            layer.msg('请至少输入两个字进行搜索!');
        }else{
            if(search_.replace(/[\u0391-\uFFE5]/g,"aa").length >= 2){
                $.post('/wx_index/api_get_xiaoqu_list',{search_:search_},function(data){
                    var html = '';
                    var items = JSON.parse(data);
                    for(var i in items) {
                        var item = items[i];
                        html += '<li>' + item.xiaoqu + '</li>';
                    }
                    $("#data-list").html(html);
                    $("#data-list li").click(function(){
                       var li_html =  $(this).html();
                        $("#choose_").html(li_html);
                        $.post('/wx_api/get_zcs',{search_:li_html},function(data2){
                            var html2 = '';
                            var items2 = JSON.parse(data2);
                            for(var i2 in items2) {
                                var item2 = items2[i2];
                                html2 += '<li data-minprice="' + item2.min_price + '" data-maxprice="' + item2.max_price + '" data-rate="' + item2.zcs + '">' + item2.zcs + '层</li>';
                            }
                            $("#ul_wrap_").html(html2);
                            $(".floor_wrap li").click(function(event) {
                                $(".layer_fixed").hide();
                                $(".bottom_layer").slideUp();
                                $(".floor").html($(this).html());
                                $(".floor").attr('select-value', $(this).attr('data-rate'));
                                $(".floor").attr('data-minprice', $(this).attr('data-minprice'));
                                $(".floor").attr('data-maxprice', $(this).attr('data-maxprice'));
                                $(".floor").css("color","#333");
                            });
                            $("#my-popup").modal('close');
                        })

                    })
                })

            }else{
                layer.msg('请至少输入两个字进行搜索!');
            }
        }
    })
</script>
<!--<script src="/assets/js/jquery.min.js"></script>-->
<!--<script>-->
<!--$("#search_btn").click(function () {-->
<!--$("#search_form").submit();-->
<!--})-->
<!--</script>-->
</body>
</html>

