<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>二手房评估</title>
  <meta name="description" content="房猫应用">
  <meta name="keywords" content="昆山楼市，房猫，金融，评估">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    <form action="" class="searchForm">
    <!--   <div class="search-box"> -->
        <div class="text-area">
            <input type="text" name="keyword" class="text" value="星海花园"  onclick="if(this.value==this.defaultValue){this.value='';}" onblur="if(this.value==''){this.value=this.defaultValue;}"/>
        </div>
        <span class="search-icon"></span>
    <!--   </div> -->
 <!--      <span>取消</span> -->
    </form>
 <div class="data-list">
   <ul class="data-th">
     <li>小区名</li>
     <li class="listyle">类型</li>
     <li class="liPrice">评估价（元）</li>
     <li>操作</li>
   </ul>
   <ul class="data-tb">
     <li>云山里花园</li>
     <li class="listyle">高层</li>
     <li class="liPrice">
       <div class="dataPrice highPrice"><span class="lp-s hp-s"><em class="lp-em hp-em"></em>高评</span>13500</div>
       <div class="dataPrice lowPrice"><span class="lp-s"><em class="lp-em"></em>低评</span>11500</div>
     </li>
     <li><a href="" class="taxMore">税费详情</a></li>
   </ul>
    <ul class="data-tb">
     <li>奥林苑</li>
     <li class="listyle">高层</li>
     <li class="liPrice">
       <div class="dataPrice highPrice"><span class="lp-s hp-s"><em class="lp-em hp-em"></em>高评</span>13500</div>
       <div class="dataPrice lowPrice"><span class="lp-s"><em class="lp-em"></em>低评</span>11500</div>
     </li>
     <li><a href="" class="taxMore">税费详情</a></li>
   </ul>
   <ul class="data-tb">
     <li>柏庐广场</li>
     <li class="listyle">高层</li>
     <li class="liPrice">
       <div class="dataPrice highPrice"><span class="lp-s hp-s"><em class="lp-em hp-em"></em>高评</span>13500</div>
       <div class="dataPrice lowPrice"><span class="lp-s"><em class="lp-em"></em>低评</span>11500</div>
     </li>
     <li><a href="" class="taxMore">税费详情</a></li>
   </ul>
      <ul class="data-tb">
     <li>淀山湖花园美苑</li>
     <li class="listyle">高层</li>
     <li class="liPrice">
       <div class="dataPrice highPrice"><span class="lp-s hp-s"><em class="lp-em hp-em"></em>高评</span>13500</div>
       <div class="dataPrice lowPrice"><span class="lp-s"><em class="lp-em"></em>低评</span>11500</div>
     </li>
     <li><a href="" class="taxMore">税费详情</a></li>
   </ul>
 </div>

  <div class="footer">苏州曼纳吉信息科技有限公司</div>
</div>
</body>
</html>
