<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>评估记录详情</title>
  <meta name="description" content="我要评估">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
<div class="am-main">
  <div class="am-fast-price">
     <div class="am-f-p-inner">
      <span class="am-f-p-num">{{$data.price_1}}</span><i>元/㎡</i><br />
      <span class="f-p-tag">{{if $data.flag == 1}}快速评估{{else}}评估{{/if}}</span>
    </div>
      <div class="am-form am-form-horizontal">
     <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">小区</label>
      <div class="am-u-sm-9">
       <p class="am-spec-input">{{$data.name}}</p>
      </div>
    </div>
    <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">物业类型</label>
      <div class="am-u-sm-9 am-form-select">         
        <p class="am-spec-input">{{$data.wy}}</p>
      </div>
    </div>
    <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">坐落位置</label>
      <div class="am-u-sm-9">
        <p class="am-spec-input">{{$data.address}}</p>
      </div>
    </div>
    <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">所属区域</label>
      <div class="am-u-sm-9">
        <p class="am-spec-input">{{$data.area}}</p>
      </div>
    </div>
          {{if $data.flag == 2}}
          <div class="am-form-group">
              <label class="am-u-sm-3 am-form-label">建筑面积</label>
              <div class="am-u-sm-9">
                  <p class="am-spec-input">{{$data.mianji}}㎡</p>
              </div>
          </div>
          {{/if}}
  </div>
  </div>
    {{if $data.status == 2 && $data.flag == 1}}
    <div class="am-fast-price">
        <div class="am-f-p-inner">
            <span class="am-f-p-num">{{$data.price_jp}}</span><i>元/㎡</i><br />
            <span class="f-p-tag">精准评估</span>
        </div>
        <div class="am-form am-form-horizontal">
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">建筑面积</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.mianji}}㎡</p>
                </div>
            </div>
            {{if $data.flag == 1}}
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">所在楼层</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.szlc}}层</p>
                </div>
            </div>
            {{/if}}
            <div class="am-form-group">
                <label class="am-u-sm-3 am-form-label">总楼层</label>
                <div class="am-u-sm-9">
                    <p class="am-spec-input">{{$data.zlc}}层</p>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

   <div class="am-accu-btns">
  <div class="am-u-sm-12 am-u-sm-centered">  
      <a class="am-btn am-btn-danger am-fleft" href="/wx_index/pg_list_new">重新评估</a>
      <a class="am-btn am-btn1 am-btn-danger" href="/wx_index/calculator/{{if $data.status == 2}}{{$data.price_jp}}{{else}}{{$data.price_kp}}{{/if}}">税费清单</a>
    </div>
  </div> 
<!-- 搜索弹框end -->
   <p class="am-ftr">中国•昆山 萧林中路2191号昆山楼市•房猫服务中心<br />苏州曼纳吉信息科技有限公司</p>
  <div class="am-menu am-g-fixed am-g-menu">
    <div class="am-u-sm-6"><a href="/wx_index/main" class="am-btn-home"><img src="/assets/i/home.jpg" alt=""></a></div>
    <div class="am-u-sm-6"><a href="/wx_index/person_info" class="am-btn-home"><img src="/assets/i/user_over.jpg" alt=""></a></div>
  </div>
</div>
</body>
</html>
