
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>签约公司列表</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
<div class="am-g">
        <div class="app-head">
      <a href="" class="logo"></a>
      <div class="user-position">
        <span class="wel-txt">杨洋123</span>
        <a class="am-badge am-badge-success am-round">外联经理</a>                </div>
    </div>
    <div class="amz-toolbar" id="amz-toolbar">
      <!-- 菜单 -->
      <!-- 左侧侧滑菜单 -->
      <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
      <a href="javascript:void(0)" class="am-icon-btn am-menu-toggle am-icon-bars"></a>
      <div class="am-offcanvas">
        <div class="am-offcanvas-bar">
          <div class="amz-sidebar">
            <ul class="am-menu-nav am-avg-sm-1">
              <li class="am-nav-header">操作中心</li>
                <li class="">
                  <a href="index.html" class="">首页</a>
                </li>
                <li class="">
                    <a href="add_company.html" class="">新增公司</a><!-- 渠道 -->
                 </li>
                <li class="">
                  <a href="qy_company.html" class="">签约公司</a><!-- 渠道 -->
                </li>
                                              <li class="am-nav-header">安全中心</li>
                <li class="">
                  <a href="http://bb2.ksls.com.cn/login/change_pwd" class="">修改密码</a>
                </li>
                <li class="">
                  <a href="http://bb2.ksls.com.cn/login" class="">切换账号</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
     <div class="add-com-div">
    <div class="am-popup-title add-com-tit">新增公司</div>
    <form method="post" action="http://bb2.ksls.com.cn/wl_manager/save_company" class="am-form" data-am-validator>
            <fieldset>
              <div class="am-form-group">
                <label for="doc-vld-name">公司名称：</label>
                <input type="text" id="doc-vld-name" name="company_name" placeholder="输入公司名称" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司对接经理：</label>
                <input type="text" id="doc-vld-name" name="rel_name" placeholder="输入公司对接经理" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">手机号码：</label>
                <input type="number" id="doc-vld-name" name="username" placeholder="输入手机号码" class="am-form-field" pattern="^1\d{10}$" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司地址：</label>
                <input type="text" id="doc-vld-name" name="address" placeholder="输入公司地址" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">联系固话：</label>
                <input type="text" id="doc-vld-name" name="tel" placeholder="输入联系固话" class="am-form-field" />
              </div>
              <button class="am-btn" type="submit">提交</button>
            </fieldset>
          </form>
</div>

</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>
