<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>信用查询</title>
  <meta name="description" content="信用查询">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
<div class="am-main">
    <p class="p-tips">* 填写信息越完整，评估越精确</p>
    <div class="am-calculator am-accurate-estimate">
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label">结果</label>
            <div class="am-u-sm-9">
                <p id="p-result">{{$data->result_desc->ANTIFRAUD->final_decision}}</p>
               // <input type="hidden" class="ip-txt ip-txt-w100 ip-txt-result"  value="{{$data->result_desc->ANTIFRAUD->final_decision}}" placeholder="">
            </div>
        </div>

  </div>

     <p class="am-ftr">中国•昆山 萧林中路2191号昆山楼市•房猫服务中心<br />苏州曼纳吉信息科技有限公司</p>
</div>
<script src="/assets/js/jquery-1.7.1.js"></script>
<script type="text/javascript">
//    $(function () {
//       if( $(".ip-txt-result").val()=="PASS"){
//            $("#p-result").html("PASS");
//       }
//        if( $(".ip-txt-result").val()=="REVIEW "){
//            $("#p-result").html("REVIEW");
//        }
//        if( $(".ip-txt-result").val()=="PASS"){
//            $("#p-result").html("PASS");
//        }
//    })

 </script>
</body>
</html>
