<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>我要评估</title>
  <meta name="description" content="我要评估">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/admin.css">
  <link rel="stylesheet" href="/assets/css/app.css">
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
  <div class="am-slider am-slider-default"  data-am-flexslider="{ directionNav: false}" id="my-slider">
    <ul class="am-slides">
      <li><img src="http://s.amazeui.org/media/i/demos/bing-1.jpg" /></li>
      <li><img src="http://s.amazeui.org/media/i/demos/bing-2.jpg" /></li>
    </ul>
  </div>
   <div class="am-g am-index-btns">
    <div class="am-u-sm-12 am-u-ind-btns">
      <div class="am-indbtn-left">
        <a href="estimate/estimate-new.html"><img src="/assets/i/pinggu.jpg" alt=""></a>
        <a href=""><img src="/assets/i/jinrong.jpg" alt=""></a>
      </div>
      <div class="am-indbtn-right">
        <a href=""><img src="/assets/i/quanzheng.jpg" alt=""></a>
        <a href=""><img src="/assets/i/zhixun.jpg" alt=""></a>
      </div>
    </div>
  </div>
</body>
</html>
