
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>房猫应用</title>
  <meta name="description" content="房猫应用">
  <meta name="keywords" content="昆山楼市，房猫，金融">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
  <div class="ind">
    <ul class="icon-ul">
      <li><a href="/wx_index/pg_list_test"><img src="/assets/images/in_icon1.png" alt=""></a><i>在线评估</i></li>
      <li><a href=""><img src="/assets/images/in_icon2.png" alt=""></a><i>权证代办</i></li>
    </ul>
    <ul class="icon-ul">
      <li><a href=""><img src="/assets/images/in_icon3.png" alt=""></a><i>金融业务</i></li>
      <li><a href="http://www.funmall.com.cn/kaixun  "><img src="/assets/images/in_icon4.png" alt=""></a><i>在线培训</i></li>
    </ul>
  </div>
  <div class="footer">苏州曼纳吉信息科技有限公司</div>
</div>
</body>
</html>
