<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>登录</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/amazeui.switch.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
<div class="am-g" id="login">
    <div class="login-div">
        <span class="login-logo"><img src="images/jf_login.png" alt=""></span>
        <form method="post" class="am-form" action="http://bb2.ksls.com.cn/login/check_login">
            <div class="login-bd">
                <div class="input-email input-div"><i class="am-input-icon am-icon1-user"><img src="images/login_img1.png" alt=""></i><input type="tel" name="name" id="email" value="" autoComplete="off" placeholder="请输入用户名" required></div>
                <div class="input-div"><i class="am-input-icon am-icon1-key"><img src="images/login_img2.png" alt=""></i><input type="password" name="passwd" id="password" value="" autoComplete="off" placeholder="请输入密码" required></div>
            </div>
            <input type="submit" value="登 录" class="am-btn">
      </form>
    </div>
    <p class="copyright">苏州曼纳吉信息科技有限公司</p>
</div>
<script type="text/javascript">
    var maxH=Math.max(document.documentElement.clientHeight,window.innerHeight);

     function setHeight(){
      var wrapper=document.getElementById('login');
      wrapper.style.height=maxH+"px";
    }
    setHeight();
</script>
</body>
</html>
