
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>昆山房地产经纪行业人员信息查询</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
</head>
<style type="text/css" media="screen">
    html,body,div,p,span,input,a{margin:0;padding:0;}i{font-style: normal;}
    body{background: #f5f5f5;}
    .am-g img{width:100%;}
</style>
<body>
<div class="am-g">
    <img src="images/waiting.jpg" alt="">  
</div>
</body>
</html>
