<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>上传征信报告</title>
  <meta name="description" content="上传征信报告">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css?v2">
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
<div class="am-main">

 
  <form id="save_form" class="am-form am-form-horizontal">
      <input type="hidden" id="fc_id" name="fc_id" value="{{$f_info.foreclosure_id}}">
      <div class="upload-page">
    <p class="pTit">上传借款人征信报告图片</p>
    <p class="pTxt"> <span class="tips-icon"></span>请保证上传图片边框完整，图片清晰。</p>
   </div>
     <div class="upload-credit">
         {{foreach from=$credit_img_list item=item}}
         <div class="upid DBY_img_div">
             <a href="javascript:void(0)" class="upload_click"><img src="{{$img_url_DBY}}/upload_files/foreclosure/{{$f_info.work_no}}/{{$item.file_name}}" alt=""></a>
         </div>
         {{/foreach}}
     </div>
      {{if $f_info.status == 2 && $m_info.level == 2}}
      <a class="am-btn am-btn-register" href="/wx_members/foreclosure_detail6/{{$f_info.foreclosure_id}}">审核页面</a>
      {{/if}}
      {{if $f_info.status == 3 && $m_info.level == 1}}
      <a class="am-btn am-btn-register" id="finish_btn" href="javascript:">赎楼终审</a>
      {{/if}}
      {{if in_array($f_info.status, [-1])  && $m_info.level == 2}}
      <a class="am-btn am-btn-success" id="save_btn" href="javascript:">绿色通道</a>
      {{/if}}
       <a class="am-btn am-btn-register" href="/wx_members/foreclosure_list">回到列表</a>
  </form>
    {{include file='members/public/foot.html'}}
</div>
<script src="/assets/js/jquery-2.2.3.min.js"></script>
<script src="/assets/js/amazeui.js"></script>
<script src="/assets/js/animateBackground-plugin.js"></script>
<script src="/assets/js/DBY_common.js?v2"></script>
<script src="/assets/js/layer/layer.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">

    function funcReadImgInfo(){

        var imgs = [];

        var imgObj = $(".DBY_img_div img");//这里改成相应的对象

        for(var i=0; i<imgObj.length; i++){

            imgs.push(imgObj.eq(i).attr('src'));

            imgObj.eq(i).click(function(){

                var nowImgurl = $(this).attr('src');

                WeixinJSBridge.invoke("imagePreview",{

                    "urls":imgs,

                    "current":nowImgurl

                });

            });

        }

    }

    funcReadImgInfo();

    $("#save_btn").click(function(){
        layer.confirm('是否确认设置绿色通道？', {
            btn: ['确认','取消']
        }, function(){
            var form = document.getElementById('save_form');

            var formdata = new FormData(form);
            $.ajax({
                type : "POST",
                url : "/wx_members/foreclosure_special",
                data : formdata,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success : function(data) {
                    var return_ = JSON.parse(data)
                    if(return_.status == 1){
                        var url = '/wx_members/foreclosure_list' ;
                        window.location.replace(url);
                    }else{
                        layer.msg(return_.msg);
                    }
                },
                error:function(){
                    layer.msg('网络异常!');
                }
            });
        }, function(){
            layer.closeAll();
        });

    })

    $("#finish_btn").click(function(){
        layer.confirm('是否确认终审？', {
            btn: ['确认','取消']
        }, function(){
            var form = document.getElementById('save_form');

            var formdata = new FormData(form);
            $.ajax({
                type : "POST",
                url : "/wx_members/foreclosure_finish",
                data : formdata,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success : function(data) {
                    var return_ = JSON.parse(data)
                    if(return_.status == 1){
                        var url = '/wx_members/foreclosure_list' ;
                        window.location.replace(url);
                    }else{
                        layer.msg(return_.msg);
                    }
                },
                error:function(){
                    layer.msg('网络异常!');
                }
            });
        }, function(){
            layer.closeAll();
        });

    })
</script>
</body>
</html>
