/* Write your styles */
ul,li{margin:0;padding:0; list-style: none;}
body{background:#f4f4f8; color:#666;}input,input[type=number]::focus{ outline:none;}p{margin:0;padding:0;}
.am-g-menu{ padding:.25rem .1rem; background: #fff;bottom: 0; position: fixed; width: 100%;border-top: 1px solid #e5e5e5;}
.am-btn-home{width:1.5rem; display:inline-block;}.am-btn-home img{width: 100%;}
.am-menu .am-u-sm-6{text-align: center;}

.am-price{padding-top:.5rem;height: 9.2rem; background: #fff url(../../assets/i/wave_bg.png) no-repeat left bottom; background-size: 100%;}
.am-ftr{text-align: center; color: #a7a7a7; font-size: .5rem; clear:both;margin: 1.5rem 0 4rem; }
.am-re-price{width:7rem; height: 7rem; background: #fff;border-radius: 50%;margin:0 auto .4rem;padding: .25rem;}
.am-re-price-inner{width:6.5rem; height: 6.5rem;border:4px solid #ffb700;border-radius: 50%; display: block;margin:0 auto;
    text-align: center; }
.am-house-num{ color: #666;  font-weight: bold;font-size: 1.6rem; }
#am-price-num .am-house-num i {width: 17px;height: 23px;display: inline-block;
    background: url(../../assets/i/number_01.png) no-repeat; background-position: 0 0; text-indent: -999em;}

.am-house-p{margin-top:2.2rem; font-size: .8rem;line-height: 1rem;}
.am-price .am-u-sm-9{padding-left: 1.5rem;}

.am-tags-ul li{padding-left:.4rem; color:#c0c6cc;float: left; list-style: none;font-size: .7rem; line-height: 1rem;}
.am-tags-ul span{padding-right:.4rem;}
.am-tags-ul .am-house-tag:before{content: "";width: 1.2rem; height: 1rem; float: left;
    background: url(../../assets/i/u_icon1.png) no-repeat; background-size: 100%; }
.am-tags-ul .am-htype{color:#4ec155;}
.am-tags-ul .am-floor{color:#359de7;}
.am-tags-ul .am-hot{color:#d40b1d;}
.am-tags-ul .am-floor:before{background-image: url(../../assets/i/f_icon1.png);}
.am-tags-ul .am-hot:before{background-image: url(../../assets/i/h_icon1.png);}
.am-fast-estimate,.am-accurate-estimate{background: #fff;margin: .6rem 0;border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; }
.am-accurate-estimate{border-bottom: none;}
.am-form .am-form-group{margin:0 0 0 1rem;border-bottom: 1px solid #e5e5e5;}
.am-form .am-form-group:last-child{border:none;}
.am-form .am-form-label{margin:0;padding:0 0 0 .8rem;font-weight: normal; height:2.3rem;line-height: 2.3rem; font-size: .93rem;}

.am-form input[type=button],.am-form input[type=text],.am-form input[type=number],.am-form .am-spec-input,.am-form select
{border:none;background:none;outline:none; text-align: right; width:100%;font-size: .93rem;padding:.6rem;}

.am-form select {padding:0;}
.am-form select option{font-size: .93rem;}
.am-form .before-input{display: block; font-size: .93rem;height:2.3rem;line-height: 2.3rem;  text-align: right;padding-right: .6rem;}
.am-form .before-input,.am-icon-chevron-right{color: #c0c6cc;}

.am-form .am-u-sm-9{ position: relative;}
.am-form .am-icon-chevron{position: absolute;right:.7rem;top:.95rem; width: .4rem;height: 1rem; background: url(../../assets/i/arrow.png) no-repeat; background-size: 100%;}
.am-show-btn{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; display: block; height: 2.3rem; line-height: 2.3rem; background:#fff;  color: #f6a726; font-size: 16px; width: 100%;}
.am-show-btn-p{ position: relative;font-size: .8rem; text-align: center;}
.am-show-btn-p:after{margin-left: .5rem; position: absolute;top:1rem; content: ""; width: .6rem;height: 1rem; background: url(../../assets/i/arrow2.png) no-repeat; background-size: 100%; display: inline-block;}
.am-hidden-btn-p:after{transform:rotate(180deg);top:.4rem;}
.am-accurate-estimate .am-accu-btns{padding:1rem 0 0; background: #f4f4f8;}
.am-accurate-estimate .am-accu-btns .am-u-sm-12{ height: 2.3rem;}
.am-accurate-estimate .am-accu-btns .am-btn{padding:0; height: 2.3rem; line-height: 2.3rem; font-size: .82rem; background: #f8ad35;border:none; width:48%; float: left;}
.am-accurate-estimate .am-accu-btns .am-btn1{float: right; background: #fff; color: #666;}
.am-accurate-estimate .am-u-sm-10{padding: 0;}
.am-search-popup{position: fixed;left:0;top:0;width:100%; height: 100%; z-index: 1110; background:#fff; display: none;overflow-y: scroll;}
.am-search-popup .am-form-top{padding:.4rem;background: #f4f4f8;}
.am-search-popup .am-form{width:100%;height:2rem;}
.am-search-popup .am-form-group{margin:0;float: left;border:none;width:88%; position: relative;}
.am-search-popup .am-form .am-search-input{ font-size: .9rem;border:none; border-radius: 3px; padding:.6rem; }
.am-search-popup .am-close{color:#f8ad35;font-weight: normal; font-size: .8rem; text-align: center; opacity: 1;width:12%;line-height: 2rem;height:2rem; float: left;}
.am-search-popup .search-btn{ display:block;width:1rem; height: 1rem; background: url(../../assets/i/search.png) no-repeat; background-size: 100%;position: absolute; top:8px;right:10px;}
.am-data-result{margin-left:.5rem;}
.am-data-result li{padding:.4rem 0;font-size: .9rem; line-height: 1.5rem; list-style: none;border-bottom: 1px solid #e5e5e5;}
.am-data-result li span{display: block;}.am-data-result li .on{color:#f8ad35;}
.am-data-result li .s-h-adress{font-size: .7rem;}
/*select模拟*/
.imitate-select-div{background: #fff; font-size: .9rem;}
.imitate-select-div .ul-imitate-select{margin:0 1rem;}
.imitate-select-div .am-imitate-btn{ background: #f4f4f8; height: 2rem; display: block; text-align: right; line-height: 2rem;padding-right: 1.5rem;}
.imitate-select-div li{padding:.4rem 0; border-bottom:1px solid #e5e5e5;}
/*首页焦点图*/
.am-slider-default .am-control-nav{ bottom:10px;}
.am-slider-default .am-control-nav li a{ background: #fff; opacity: 0.5;}
.am-slider-default .am-control-nav li a.am-active{ opacity: 1;background: #fff;}
.am-index-btns .am-u-sm-6 img{width: 100%;}