<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>上传征信报告</title>
  <meta name="description" content="上传征信报告">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css?v2">
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
<div class="am-main">

 
  <form  id="save_form" class="am-form am-form-horizontal">
      <input type="hidden" id="fc_id" name="fc_id" value="{{$f_info.foreclosure_id}}">
      <div class="upload-page">
    <p class="pTit">上传借款人征信报告图片</p>
    <p class="pTxt"> <span class="tips-icon"></span>请保证上传图片边框完整，图片清晰。</p>
   </div>
      {{foreach from=$credit_img_list item=item}}
      <div class="upid DBY_img_div">
          <a href="javascript:void(0)" class="upload_click"><img src="/upload_files/foreclosure/{{$f_info.work_no}}/{{$item.file_name}}" alt=""></a>
          <a href="javascript:void(0)" class="close_btn"></a>
          <input value="{{$item.file_name}}" type="hidden" name="old_img[]">
      </div>
      {{/foreach}}
      <div class="upid" id="add_div">
        <a href="javascript:void(0)" id="add_img" class="upload_click upload_click1"><img src="/assets/i/add_upload1.png" alt=""></a>
      </div>

       <a class="am-btn am-btn-register" id="save_btn" href="javascript:">提交申请</a>
  </form>
    {{include file='users/public/foot.html'}}
</div>
<script src="/assets/js/jquery-2.2.3.min.js"></script>
<script src="/assets/js/layer/layer.js"></script>
<script src="/assets/js/amazeui.js"></script>
<script src="/assets/js/animateBackground-plugin.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    $("#save_form").on("click",".close_btn",function(){
        var that = $(this);
        layer.confirm('是否确认删除？', {
            btn: ['确认','取消'] //按钮
        }, function(){
            that.parent().remove();
            layer.closeAll();
        }, function(){

        });
    })
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{$wxappId}}', // 必填，公众号的唯一标识
        timestamp: {{$wxtimestamp}}, // 必填，生成签名的时间戳
    nonceStr: '{{$wxnonceStr}}', // 必填，生成签名的随机串
            signature: '{{$wxsignature}}',// 必填，签名，见附录1
            jsApiList: ['chooseImage','uploadFile','checkJsApi','uploadImage','onMenuShareAppMessage','hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.checkJsApi({
        jsApiList: [
            'chooseImage','uploadImage'
        ],
        success: function (res) {

            if (res.checkResult.getLocation == false) {
                //alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                return;
            }
        }
    });
    wx.ready(function () {
        $("#add_img").click(function(){
            wx.chooseImage({
                count: 9, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function(res) {
                    var localIds = res.localIds;
                    syncUpload(localIds);
                }
            });
        })

        var syncUpload = function(localIds){
            var localId = localIds.shift();
            wx.uploadImage({
                localId: localId,
                isShowProgressTips: 1,
                success: function (res) {
                    var serverId = res.serverId; // 返回图片的服务器端ID
                    var html = '';
                    html += '<div class="upid DBY_img_div">';
                    html += '<a href="javascript:void(0)" class="upload_click"><img src="' + localId + '" alt=""></a>';
                    html += '<a href="javascript:void(0)" class="close_btn"></a>';
                    html += '<input type="hidden" value="' + serverId + '" name="wx_img[]">';
                    html += '</div>';
                    $("#add_div").before(html);
                    if(localIds.length > 0){
                        syncUpload(localIds);
                    }
                }
            });
        };
    })

    $("#save_btn").click(function(){
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var img_length = $("#save_form .DBY_img_div").length;
        if(img_length <= 0){
            layer.close(index);
            layer.msg('请上传征信照片');
            return false;
        }
        var form = document.getElementById('save_form');

        var formdata = new FormData(form);
        $.ajax({
            type : "POST",
            url : "/wx_users/foreclosure_s6",
            data : formdata,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success : function(data) {
                var return_ = JSON.parse(data)
                if(return_.status == 1){
                    var url = '/wx_users/index'; //先返回首页,以后返回列表页
                    window.location.replace(url);
                }else{
                    layer.close(index);
                    layer.msg(return_.msg);
                }
                layer.close(index);
            },
            error:function(){
                layer.close(index);
                layer.msg('网络异常!');
            }
        });
    })
</script>
</body>
</html>
