<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>借款人基本信息</title>
  <meta name="description" content="借款人基本信息">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/mobiscroll/css/mobiscroll.css">
    <link rel="stylesheet" href="/assets/mobiscroll/css/mobiscroll_date.css">
    <style>
        * { touch-action: pan-y; }
    </style>
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
<div class="am-main">

 
  <form id="save_form" class="am-form am-form-horizontal">
      <input type="hidden" id="fc_id" name="fc_id" value="{{$f_info.foreclosure_id}}">
      <p class="p-tit">贷款方式</p>

     <div class="am-fast-estimate">

    <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">老贷余额</label>
      <div class="am-u-sm-9">
       <input type="text" class="ip-txt ip-txt1 js4float1" id="old_loan_balance" name="old_loan_balance" value="{{$f_info.old_loan_balance|default:''}}" placeholder="请输入老贷余额">
       <i class="am-es-i">万</i>
      </div>
    </div>
    <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">老贷机构</label>
      <div class="am-u-sm-9">
         <input type="text" class="ip-txt" id="old_loan_setup" name="old_loan_setup" value="{{$f_info.old_loan_setup|default:''}}" placeholder="请输入老贷机构">
      </div>
    </div>
        <div class="am-form-group">
      <label class="am-u-sm-4 am-form-label">已付定金/首付</label>
      <div class="am-u-sm-8">
        <input type="text" class="ip-txt ip-txt1 js4float1" id="deposit" name="deposit" value="{{$f_info.deposit|default:''}}" placeholder="请输入金额">
       <i class="am-es-i">万</i>
      </div>
    </div>
{{if $f_info.bank_loan_type == 2 && $f_info.is_mortgage == 1}}
        <div class="am-form-group">
      <label class="am-u-sm-8 am-form-label">首付是否进入还款</label>
      <div class="am-u-sm-4">
         
          <div class="radio-input">
          <label class="register-type-label"><input type="radio" class="radio_DBY_" value="1" name="is_repayment" {{if $f_info.is_repayment|default:1 == 1 }}checked{{/if}}>是</input></label>
          <label class="register-type-label"><input type="radio" class="radio_DBY_" value="-1" name="is_repayment" {{if $f_info.is_repayment|default:1 == -1 }}checked{{/if}}>否</input></label>
      </div>
      </div>
    </div>
  <div class="am-form-group" id="radio_div" {{if $f_info.is_repayment|default:1 == -1 }}style="display: none;"{{/if}} >
      <label class="am-u-sm-3 am-form-label">进入金额</label>
      <div class="am-u-sm-9">
       <input type="text" class="ip-txt ip-txt1 js4float1" id="repayment_money" name="repayment_money" value="{{$f_info.repayment_money|default:''}}" placeholder="请输入进入金额">
       <i class="am-es-i">万</i>
      </div>
    </div>

{{/if}}
</div>
 <p class="p-tit">按揭信息</p>
      {{if $f_info.bank_loan_type == 2 && $f_info.is_mortgage == 1}}
      <div class="am-fast-estimate">
          <div class="am-form-group">
              <label class="am-u-sm-4 am-form-label">买家按揭银行</label>
              <div class="am-u-sm-8">
                  <input type="text" class="ip-txt" id="mortgage_bank" name="mortgage_bank" value="{{$f_info.mortgage_bank|default:''}}" placeholder="请输入按揭银行">
              </div>
          </div>
          <div class="am-form-group">
              <label class="am-u-sm-4 am-form-label">买家按揭金额</label>
              <div class="am-u-sm-8">
                  <input type="number" class="ip-txt ip-txt1" id="mortgage_money" name="mortgage_money" value="{{$f_info.mortgage_money|default:''}}" placeholder="请输入按揭金额">
                  <i class="am-es-i">万</i>
              </div>
          </div>
      </div>
      {{else}}
      <div class="am-fast-estimate">
          <div class="am-form-group">
              <label class="am-u-sm-5 am-form-label">买家预计按揭银行</label>
              <div class="am-u-sm-7">
                  <input type="text" class="ip-txt" id="expect_mortgage_bank" name="expect_mortgage_bank" value="{{$f_info.expect_mortgage_bank|default:''}}" placeholder="请输入预计按揭银行">
              </div>
          </div>
          <div class="am-form-group">
              <label class="am-u-sm-5 am-form-label">买家预计按揭金额</label>
              <div class="am-u-sm-7">
                  <input type="text" class="ip-txt ip-txt1 js4float1" id="expect_mortgage_money" name="expect_mortgage_money" value="{{$f_info.expect_mortgage_money|default:''}}" placeholder="请输入预计按揭金额">
                  <i class="am-es-i">万</i>
              </div>
          </div>
      </div>
      {{/if}}

    <a class="am-btn am-btn-register" id="save_btn" href="javascript:">下一步</a>
  </form>


    {{include file='users/public/foot.html'}}
</div>
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/amazeui.js"></script>
<script src="/assets/js/animateBackground-plugin.js"></script>
<script src="/assets/js/DBY_common.js?v5"></script>
<script src="/assets/js/layer/layer.js"></script>
<script src="/assets/mobiscroll/js/mobiscroll_date.js"></script>
<script src="/assets/mobiscroll/js/mobiscroll.js"></script>
<script type="text/javascript">

    $(".radio_DBY_").click(function(){
        var type_id = $("input[name='is_repayment']:checked").val();
        if(type_id == '1'){
            $("#radio_div").show();
        }
        if(type_id == '-1'){
            $("#radio_div").hide();
        }
    });

    $("#save_btn").click(function(){
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var bank_loan_type_ = {{$f_info.bank_loan_type}};
        var is_mortgage_ = {{$f_info.is_mortgage}};
        var old_loan_balance = $.trim($("#old_loan_balance").val());
        var old_loan_setup = $.trim($("#old_loan_setup").val());
        var deposit = $.trim($("#deposit").val());

        if(old_loan_balance == '' || parseFloat(old_loan_balance) == 0){
            layer.close(index);
            layer.msg('请填写老贷余额');
            return false;
        }
        if(old_loan_setup == ''){
            layer.close(index);
            layer.msg('请完善老贷机构');
            return false;
        }
        if(deposit == '' || parseFloat(deposit) == 0){
            layer.close(index);
            layer.msg('请填写已付定金/首付');
            return false;
        }
        if(bank_loan_type_ == 2 && is_mortgage_ == 1){
            var is_repayment = $("input[name='is_repayment']:checked").val();
            switch (is_repayment){
                case '1':
                    var repayment_money = $.trim($("#repayment_money").val());
                    if(repayment_money == '' || parseFloat(repayment_money) == 0){
                        layer.close(index);
                        layer.msg('请完善进入金额');
                        return false;
                    }
                    break;
                case '-1':
                    break;
                default:
                    layer.msg('请选择 首付是否进入还款');
                    return false;
            }
            var mortgage_bank = $.trim($("#mortgage_bank").val());
            var mortgage_money = $.trim($("#mortgage_money").val());
            if(mortgage_bank == ''){
                layer.close(index);
                layer.msg('请完善买家按揭银行');
                return false;
            }
            if(mortgage_money == '' || parseFloat(mortgage_money) == 0){
                layer.close(index);
                layer.msg('请完善买家按揭金额');
                return false;
            }
        }else{
            var expect_mortgage_bank = $.trim($("#expect_mortgage_bank").val());
            var expect_mortgage_money = $.trim($("#expect_mortgage_money").val());
            if(expect_mortgage_bank == ''){
                layer.close(index);
                layer.msg('请完善买家预计按揭银行');
                return false;
            }
            if(expect_mortgage_money == '' || parseFloat(expect_mortgage_money) == 0){
                layer.close(index);
                layer.msg('请完善买家预计按揭金额');
                return false;
            }

        }
        var form = document.getElementById('save_form');

        var formdata = new FormData(form);
        $.ajax({
            type : "POST",
            url : "/wx_users/foreclosure_s3",
            data : formdata,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success : function(data) {
                var return_ = JSON.parse(data)
                if(return_.status == 1){
                    var url = '/wx_users/foreclosure_s4/' + return_.result.foreclosure_id;
                    window.location.replace(url);
                }else{
                    layer.close(index);
                    layer.msg(return_.msg);
                }
                layer.close(index);
            },
            error:function(){
                layer.close(index);
                layer.msg('网络异常!');
            }
        });
    })
</script>
</body>
</html>
