<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>上传身份证资料</title>
  <meta name="description" content="上传身份证资料">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
<div class="am-main">

 
  <form id="save_form" class="am-form am-form-horizontal">
      <input type="hidden" id="fc_id" name="fc_id" value="{{$f_info.foreclosure_id}}">
      <div class="upload-page">
    <p class="pTit">上传借款人身份证正面图片资料</p>
    <p class="pTxt"><span class="tips-icon"><img src="/assets/i/tips.png" alt=""></span>请保证上传图片边框完整，图片清晰。</p>
   </div>
      <div class="upid">
        <a href="javascript:;" class="upload_click"><img src="/assets/i/id_upload.png" alt=""></a>
          <input type="hidden" value="" id="borrower_img_SFZ" name="borrower_img_SFZ">
      </div>
      {{if $f_info.is_mortgage == 1}}
        <div class="upload-page">
    <p class="pTit">上传借款人配偶身份证正面图片资料</p>
    <p class="pTxt"><span class="tips-icon"><img src="/assets/i/tips.png" alt=""></span>请保证上传图片边框完整，图片清晰。</p>
   </div>
       <div class="upid">
        <a href="javascript:;" class="upload_click"><img src="/assets/i/id_upload.png" alt=""></a>
      </div>
      {{/if}}
       <a class="am-btn am-btn-register" id="save_btn" href="javascript:">下一步</a>
  </form>
    {{include file='public/foot.html'}}
</div>
<script src="/assets/js/jquery-2.2.3.min.js"></script>
<script src="/assets/js/layer/layer.js"></script>
<script src="/assets/js/amazeui.js"></script>
<script src="/assets/js/animateBackground-plugin.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: '{{$wxappId}}', // 必填，公众号的唯一标识
        timestamp: {{$wxtimestamp}}, // 必填，生成签名的时间戳
    nonceStr: '{{$wxnonceStr}}', // 必填，生成签名的随机串
            signature: '{{$wxsignature}}',// 必填，签名，见附录1
            jsApiList: ['chooseImage','uploadFile','checkJsApi','uploadImage','onMenuShareAppMessage','hideMenuItems'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.checkJsApi({
        jsApiList: [
            'chooseImage','uploadImage'
        ],
        success: function (res) {
            //alert(JSON.stringify(res));
            // alert(JSON.stringify(res.checkResult.getLocation));
            if (res.checkResult.getLocation == false) {
                //alert('你的微信版本太低，不支持微信JS接口，请升级到最新的微信版本！');
                return;
            }
        }
    });
    wx.ready(function () {


        $(".upload_click").click(function(){
            var my = $(this);
            var input_h = $(this).next();
            if(input_h.val() != ""){
                //return false;
            }
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function(res) {
                    var localIds = res.localIds;
                    syncUpload(localIds,my,input_h);
                }
            });
        })
        var syncUpload = function(localIds,my_,input_h_){
            var localId = localIds.shift();
            wx.uploadImage({
                localId: localId,
                isShowProgressTips: 1,
                success: function (res) {
                    var serverId = res.serverId; // 返回图片的服务器端ID
                    html = '<img src="' + localId + '" alt="">'
                    //html = "<img style='width: 14.8rem;height: 14.8rem' src='"+localId+"' alt='' class='upload-has-pic'>";
                    //html +="<em onclick='del_pic(this);' class='am-f-close'></em>"
                    my_.html(html);
                    input_h_.val(serverId);
                }
            });
        };
    })

    $("#save_btn").click(function(){
        var index = layer.load(1, {
            shade: [0.1,'#fff'] //0.1透明度的白色背景
        });
        var form = document.getElementById('save_form');

        var formdata = new FormData(form);
        $.ajax({
            type : "POST",
            url : "/wx_users/foreclosure_s4",
            data : formdata,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success : function(data) {
                var return_ = JSON.parse(data)
                if(return_.status == 1){
                    window.location.href= '/wx_users/foreclosure_s5/' + return_.result.foreclosure_id;
                }else{
                    layer.close(index);
                    layer.msg(return_.msg);
                }
                layer.close(index);
            },
            error:function(){
                layer.close(index);
                layer.msg('网络异常!');
            }
        });
    })
</script>
</body>
</html>
