<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>借款人基本信息</title>
  <meta name="description" content="借款人基本信息">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.css"/>
  <link rel="stylesheet" href="/assets/css/app.css">
  <script type="text/javascript">
    (function() {
        var rem, dpr, time, doc = window.document,
        docEl = doc.documentElement,
        viewport = doc.querySelector('meta[name="viewport"]'),
        zoomScale,
        zoomScaleNum;
        if (viewport) {            
            zoomScale = viewport.getAttribute("content").match(/initial\-scale=(["']?)([\d\.]+)\1?/);
            if(zoomScale){
              zoomScaleNum = parseFloat(zoomScale[2]);
              dpr = parseInt(1 / zoomScaleNum);
            }
        }
        if (!dpr && !zoomScaleNum) {
            var os = (window.navigator.appVersion.match(/android/gi), window.navigator.appVersion.match(/iphone/gi)),
            dpr = window.devicePixelRatio;
            dpr = os ? dpr >= 3 ? 3 : dpr >= 2 ? 2 : 1 : 1;
            zoomScaleNum = 1 / dpr;
        }
        window.addEventListener("resize",
            function() {
                clearTimeout(time);
                time = setTimeout(changeRem, 300);
            },false);
      //改变基准rem
        function changeRem(){
            var docWidth = docEl.getBoundingClientRect().width;
            if(docWidth / dpr > 540){
              docWidth = 540 * dpr;
            }
            //rem字号以320下的16px为基线进行等比缩放
            rem = docWidth/320 * 16;
            docEl.style.fontSize = rem + "px";
        }
        changeRem();
    })();
  </script> 
  
</head>
<body>
<div class="am-main">

 
  <form id="save_form" class="am-form am-form-horizontal">
      <input type="hidden" id="fc_id" name="fc_id" value="{{$f_info.foreclosure_id}}">
    <p class="p-tit">买方（主贷人/主证人）基本信息</p>
     <div class="am-fast-estimate">

    <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">姓名</label>
      <div class="am-u-sm-9">
       <input type="text" class="ip-txt" id="buyer_name" name="buyer_name" value="{{$f_info.buyer_name}}" placeholder="请输入买方姓名">
      </div>
    </div>
    <div class="am-form-group">
      <label class="am-u-sm-3 am-form-label">身份证号</label>
      <div class="am-u-sm-9">
         <input type="text" class="ip-txt js4IDcard" id="buyer_code" name="buyer_code" value="{{$f_info.buyer_code}}" placeholder="请输入买方身份证号码">
      </div>
    </div>
 </div>  <p class="p-tit">贷款方式</p>
      <input value="{{$f_info.bank_loan_type|default:1}}" id="bank_loan_type" name="bank_loan_type" type="hidden">
     <div class="am-fast-estimate am-fast-select" id="div_bank_loan_type">

        <div class="am-form-group" data-value="0">
        <label class="am-u-sm-10 am-form-label">一次性付款</label>
        <div class="am-u-sm-2">
            <span data-type="1" class="select-span {{if $f_info.bank_loan_type|default:1 == 1 }}select-ok{{/if}}"></span>
        </div>
      </div>
              <div class="am-form-group" data-value="1">
        <label class="am-u-sm-10 am-form-label">商业贷款</label>
        <div class="am-u-sm-2">
              <span data-type="2" class="select-span {{if $f_info.bank_loan_type|default:1 == 2 }}select-ok{{/if}}"></span>
        </div>
      </div>
               <div class="am-form-group" data-value="0">
        <label class="am-u-sm-10 am-form-label">组合贷款（公积金+商业贷款）</label>
        <div class="am-u-sm-2">
                <span data-type="3" class="select-span {{if $f_info.bank_loan_type|default:1 == 3 }}select-ok{{/if}}"></span>
        </div>
      </div>
     </div>
     <div class="showbox">
     <p class="p-tit">按揭情况</p>
         <input name="is_mortgage" value="{{$f_info.is_mortgage|default:1}}" id="is_mortgage" type="hidden">
       <div class="am-fast-estimate am-fast-select" id="div_is_mortgage">
        <div class="am-form-group">
        <label class="am-u-sm-10 am-form-label">按揭已通过</label>
        <div class="am-u-sm-2">
            <span data-type="1" class="select-span {{if $f_info.is_mortgage|default:1 == 1 }}select-ok{{/if}} "></span>
        </div>
      </div>
              <div class="am-form-group">
        <label class="am-u-sm-10 am-form-label">按揭未通过</label>
        <div class="am-u-sm-2">
              <span data-type="-1" class="select-span {{if $f_info.is_mortgage|default:1 == 2 }}select-ok{{/if}}"></span>
        </div>
      </div>
               
     </div>
</div>
    <a class="am-btn am-btn-register" id="save_btn" href="javascript:">下一步</a>
  </form>

</div>
    {{include file='public/foot.html'}}
    <script src="/assets/js/jquery-2.2.3.min.js"></script>
<script src="/assets/js/amazeui.js"></script>
<script src="/assets/js/animateBackground-plugin.js"></script>
    <script src="/assets/js/DBY_common.js?v2"></script>
    <script src="/assets/js/layer/layer.js"></script>
<script type="text/javascript">

  $(".am-form-group").click(function() {
    $(this).parent(".am-fast-select").find(".select-span").removeClass("select-ok");
      $(this).find(".select-span").addClass("select-ok");
      if($(this).attr("data-value")=="1"){
        $(".showbox").show();
      }
      else if($(this).attr("data-value")=="0"){
         $(".showbox").hide();
      }
  })

  $("#save_btn").click(function(){
      var index = layer.load(1, {
          shade: [0.1,'#fff'] //0.1透明度的白色背景
      });
      var bank_loan_type = $("#div_bank_loan_type").find(".select-ok").eq(0).attr('data-type');
      var is_mortgage = $("#div_is_mortgage").find(".select-ok").eq(0).attr('data-type');


      var buyer_name = $.trim($("#buyer_name").val());
      var buyer_code = $.trim($("#buyer_code").val());

      if(buyer_name == ''){
          layer.close(index);
          layer.msg('姓名不能为空');
          return false;
      }
      if(!IdentityCodeValid(buyer_code)){
          layer.close(index);
          layer.msg('身份证填写不规范');
          return false;
      }

      switch (bank_loan_type){
          case '1':
          case '3':

              break;
          case '2':
                  if(is_mortgage != '1' && is_mortgage != '-1'){
                      layer.close(index);
                      layer.msg('请选择按揭情况');
                      return false;
                  }
              break;
          default:
              layer.close(index);
              layer.msg('请选择贷款方式');
              return false;
      }
      $("#is_mortgage").val(is_mortgage);
      $("#bank_loan_type").val(bank_loan_type);
      var form = document.getElementById('save_form');

      var formdata = new FormData(form);
      $.ajax({
          type : "POST",
          url : "/wx_users/foreclosure_s2",
          data : formdata,
          async: false,
          cache: false,
          contentType: false,
          processData: false,
          success : function(data) {
              var return_ = JSON.parse(data)
              if(return_.status == 1){
                  switch (return_.result.bank_loan_type){
                      case 1:
                          window.location.href= '/wx_users/foreclosure_s4/' + return_.result.foreclosure_id;
                          break;
                      case 2:
                          window.location.href= '/wx_users/foreclosure_s3/' + return_.result.foreclosure_id;
                          break;
                      case 3:
                          window.location.href= '/wx_users/foreclosure_s3/' + return_.result.foreclosure_id;
                          break;
                      default:
                          layer.close(index);
                          layer.msg('请选择贷款方式');
                          return false;
                  }

              }else{
                  layer.close(index);
                  layer.msg(return_.msg);
              }
          },
          error:function(){
              layer.close(index);
              layer.msg('网络异常!');
          }
      });
  })
</script>
</body>
</html>
