<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>业务员管理</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta content="telephone=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div class="am-g">
    {{include file="public/head.html"}}
     <div class="app-tit">
      <span class="mark">业务员列表</span>
    </div>
    <section data-am-widget="accordion" class="am-accordion am-accordion-default"
    data-am-accordion='{}'>
    {{foreach from=$data.res_list item=row}}
      <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          <div class="fl">
            <span><i class="am-icon-users"></i>{{$row.c_rel_name}}</span>
          </div>
          <div class="fr">
            <span><i class="am-icon-angle-down"></i></span>
          </div>
        </dt>
        <dd class="am-accordion-bd am-collapse">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
              <p>登陆账号：&nbsp;&nbsp;&nbsp;{{$row.username}}</p>
             <p>手机号码：{{$row.c_tel}}<a href="tel:{{$row.c_tel}}" class="am-btn-call am-icon-phone"></a></p>
             <p>姓名：&nbsp;&nbsp;&nbsp;{{$row.c_rel_name}}</p>
             <button type="button" class="am-btn am-btn-secondary" data-am-modal="{target: '#my-popup-editywy-{{$row.id}}'}"><i class="am-icon-cog"></i>编辑</button>
          </div>
        </dd>
      </dl>
	    <div class="am-popup" id="my-popup-editywy-{{$row.id}}">
	      <div class="am-popup-inner">
	        <div class="am-popup-hd">
	          <h4 class="am-popup-title">编辑业务员</h4>
	          <span data-am-modal-close class="am-close">&times;</span>
	        </div>
	        <div class="am-popup-bd">
	          <form method="post" action="{{site_url url='wx_customer/save_ywy'}}" class="am-form" data-am-validator>
	            <fieldset>
	              <div class="am-form-group">
	                <label for="doc-vld-name">业务员：</label>
	                <input type="hidden" name="id" value="{{$row.id}}"/>
	                <input type="text" name="c_rel_name" value="{{$row.c_rel_name}}" placeholder="输入业务员" class="am-form-field" required/>
	              </div>
	              <div class="am-form-group">
	                <label for="doc-vld-name">手机号码：</label>
	                <input type="text" name="c_tel" value="{{$row.c_tel}}" placeholder="输入手机号码" pattern="^1\d{10}$" class="am-form-field" required/>
	              </div>
	              <button class="am-btn" type="submit">提交</button>
	            </fieldset>
	          </form>
	        </div>
	      </div>
	    </div>
    {{/foreach}}
    </section>
    <div class="amz-toolbar" id="amz-toolbar">
      <!-- 菜单 -->
      <a href="javascript:void(0)" class="am-icon-btn am-icon-plus" data-am-modal="{target: '#my-popup-add'}"></a>
      <!-- 左侧侧滑菜单 -->
      {{include file="public/menu.html"}}
    </div>
    <div class="am-popup" id="my-popup-add">
      <div class="am-popup-inner">
        <div class="am-popup-hd">
          <h4 class="am-popup-title">新增业务员</h4>
          <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
          <form method="post" action="{{site_url url='wx_customer/save_ywy'}}" class="am-form" data-am-validator>
            <fieldset>
              <div class="am-form-group">
                <label for="doc-vld-name">业务员：</label>
                <input type="text" id="doc-vld-name" name="c_rel_name"  placeholder="输入业务员" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">手机号码：</label>
                <input type="text" id="doc-vld-name" name="c_tel" placeholder="输入手机号码" pattern="^1\d{10}$" class="am-form-field" required/>
              </div>
              <button class="am-btn" type="submit">提交</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
  
      <!-- 分页 -->
    {{if $data.total_page > 1}}
    <ul data-am-widget="pagination" class="am-pagination am-pagination-select">
      <li class="am-pagination-prev ">
      
      	{{if $data.pageNum lte 1}}
		<a class="off">上一页</a>
		{{else}}
		<a href="javascript:get_search('{{$data.pageNum -1}}');">上一页</a>
		{{/if}}
      </li>
      <li class="am-pagination-select">
        <select onchange="get_search(this.value);">
        {{section name=loop loop=$data.total_page}}
          <option value="{{$smarty.section.loop.index + 1}}" class="" {{if $smarty.section.loop.index + 1 eq $data.pageNum}}selected='selected'{{/if}}>{{$smarty.section.loop.index + 1}}/{{$data.total_page}}</option>
        {{/section}}
        </select>
      </li>
      <li class="am-pagination-next ">
      	{{if $data.pageNum gte $data.total_page}}
		<a class="off">下一页</a>
		{{else}}
		<a href="javascript:get_search('{{$data.pageNum +1}}');">下一页</a>
		{{/if}}
      </li>
    </ul>
    {{/if}}
	<!-- 分页 -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script>
function get_search(page){
	location.href = "{{site_url url='wx_customer/list_ywy'}}/"+page;
}
</script>
</body>
</html>
