{{include file='salesman/public/head.html'}}
     <div class="app-tit">
      <span class="mark">签约公司列表</span>
    </div>
    <section data-am-widget="accordion" class="am-accordion am-accordion-default"
    data-am-accordion='{}'>
          <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          <div class="fl">
            <span><i class="am-icon-users"></i>一一房产</span>
          </div>
          <div class="fr">
            <span><i class="am-icon-angle-down"></i></span>
          </div>
        </dt>
        <dd class="am-accordion-bd am-collapse">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
             <p>联系人：萧萧</p>
             <p>联系人手机：13000000000</p>
             <p>公司邀请码：287</p>
             <p>公司登录ID：月亮宫</p>
             <p>公司固话：</p>
             <button type="button" class="am-btn am-btn-secondary" data-am-modal="{target: '#my-popup-edit-1265'}"><i class="am-icon-cog"></i>编辑</button>
          </div>
          
        </dd>
      </dl>
      
      <div class="am-popup" id="my-popup-edit-1265">
      <div class="am-popup-inner">
        <div class="am-popup-hd">
          <h4 class="am-popup-title">编辑公司</h4>
          <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd">
          <form method="post" action="http://bb2.ksls.com.cn/wl_manager/save_company" class="am-form" data-am-validator>
            <fieldset>
              <div class="am-form-group">
                <label for="doc-vld-name">公司名称：</label>
                <input type="hidden" name="id" value="1265"/>
                <input type="text" id="doc-vld-name" name="company_name" value="一一房产" placeholder="输入公司名称" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司对接经理：</label>
                <input type="text" id="doc-vld-name" name="rel_name" value="萧萧" placeholder="输入公司对接经理" class="am-form-field" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">手机号码：</label>
                <input type="number" id="doc-vld-name" name="username" value="13000000000" placeholder="输入手机号码" class="am-form-field" pattern="^1\d{10}$" required/>
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">公司地址：</label>
                <input type="text" id="doc-vld-name" name="address" value="月亮宫" placeholder="输入公司地址" class="am-form-field" />
              </div>
              <div class="am-form-group">
                <label for="doc-vld-name">联系固话：</label>
                <input type="text" id="doc-vld-name" name="tel" value="" placeholder="输入联系固话" class="am-form-field" />
              </div>
              <button class="am-btn" type="submit">提交</button>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
      
        </section>
    <div class="amz-toolbar" id="amz-toolbar">
      <!-- 菜单 -->
      <!-- 左侧侧滑菜单 -->
        {{include file='salesman/public/menu.html'}}
    </div>
</body>
</html>
