<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>签约公司列表</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="/assets/css/amazeui.switch.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
</head>
<body>
<div class="am-g">
{{include file='public/head.html'}}
     <div class="app-tit">
      <span class="mark">签约公司列表</span>
    </div>
    <section data-am-widget="accordion" class="am-accordion am-accordion-default"
    data-am-accordion='{}'>
        {{foreach from=$data.res_list item=item}}
          <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          <div class="fl">
            <span><i class="am-icon-users"></i>{{$item.c_company_name}}</span>
          </div>
          <div class="fr">
            <span><i class="am-icon-angle-down"></i></span>
          </div>
        </dt>
        <dd class="am-accordion-bd am-collapse">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
             <p>联系人：萧萧</p>
             <p>联系人手机：13000000000</p>
             <p>公司邀请码：287</p>
             <p>公司登录ID：月亮宫</p>
             <p>公司固话：</p>
             <button type="button" class="am-btn am-btn-secondary" data-am-modal="{target: '#my-popup-edit-1265'}"><i class="am-icon-cog"></i>编辑</button>
          </div>
          
        </dd>
      </dl>
        {{/foreach}}
    </section>
    {{include file='public/pagination.html'}}
    <form class="am-form" method="get" action="">

    </form>
    <div class="amz-toolbar" id="amz-toolbar">
      <!-- 菜单 -->
      <!-- 左侧侧滑菜单 -->
        {{include file='public/menu.html'}}
    </div>
</body>
</html>
